<div class="user-dialog-frame">
  <h1 mat-dialog-title>Add new User</h1>
  <div mat-dialog-content class="dialog-frame" style="padding-top: 16px">
    <form [formGroup]="form">
      <div class="name-frame">
        <mat-form-field appearance="outline" [class.mat-form-field-invalid]="form.get('firstName')!.invalid && form.get('firstName')!.touched">
          <mat-label>First Name</mat-label>
          <input formControlName="firstName" matInput placeholder="First Name">
          <mat-icon matSuffix>person</mat-icon>
          <mat-error *ngIf="form.get('firstName')!.invalid && form.get('firstName')!.touched">
            First Name is required
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" [class.mat-form-field-invalid]="form.get('lastName')!.invalid && form.get('lastName')!.touched">
          <mat-label>Last Name</mat-label>
          <input formControlName="lastName" matInput placeholder="Last Name">
          <mat-icon matSuffix>person</mat-icon>
          <mat-error *ngIf="form.get('lastName')!.invalid && form.get('lastName')!.touched">
            Last Name is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="address-frame">
        <mat-form-field appearance="outline" [class.mat-form-field-invalid]="form.get('street')!.invalid && form.get('street')!.touched">
          <mat-label>Street</mat-label>
          <input formControlName="street" matInput placeholder="Str.">
          <mat-icon matSuffix>home</mat-icon>
          <mat-error *ngIf="form.get('street')!.invalid && form.get('street')!.touched">
            Street is required
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" [class.mat-form-field-invalid]="form.get('houseNumber')!.invalid && form.get('houseNumber')!.touched">
          <mat-label>Number</mat-label>
          <input formControlName="houseNumber" matInput placeholder="Nr.">
          <mat-icon matSuffix>123</mat-icon>
          <mat-error *ngIf="form.get('houseNumber')!.invalid && form.get('houseNumber')!.touched">
            Please enter a valid House Number
          </mat-error>
        </mat-form-field>
      </div>

      <div class="city-frame">
        <mat-form-field appearance="outline" [class.mat-form-field-invalid]="form.get('city')!.invalid && form.get('city')!.touched">
          <mat-label>City</mat-label>
          <input formControlName="city" matInput placeholder="City">
          <mat-icon matSuffix>home</mat-icon>
          <mat-error *ngIf="form.get('city')!.invalid && form.get('city')!.touched">
            City is required
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" [class.mat-form-field-invalid]="form.get('zip')!.invalid && form.get('zip')!.touched">
          <mat-label>Zip Code</mat-label>
          <input formControlName="zip" matInput placeholder="Zip Code">
          <mat-icon matSuffix>123</mat-icon>
          <mat-error *ngIf="form.get('zip')!.invalid && form.get('zip')!.touched">
            Please enter a valid Zip Code
          </mat-error>
        </mat-form-field>
      </div>

      <div class="tel-mail-frame">
        <mat-form-field appearance="outline" [class.mat-form-field-invalid]="form.get('tel')!.invalid && form.get('tel')!.touched">
          <mat-label>Phone number</mat-label>
          <input formControlName="tel" matInput placeholder="Phone number" required>
          <mat-icon matSuffix>phone</mat-icon>
          <mat-error *ngIf="form.get('tel')!.invalid && form.get('tel')!.touched">
            Please enter a valid Phone number
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" [class.mat-form-field-invalid]="form.get('email')!.invalid && form.get('email')!.touched">
          <mat-label>Email</mat-label>
          <input formControlName="email" matInput placeholder="pat@example.com" required />
          <mat-icon matSuffix>mail</mat-icon>
          <mat-error *ngIf="form.get('email')!.invalid && form.get('email')!.touched">
            {{ errorMessage() }}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="personal-frame">
        <mat-form-field appearance="outline" style="width: 248px;" [class.mat-form-field-invalid]="form.get('birthday')!.invalid && form.get('birthday')!.touched">
          <mat-label>Date of birth</mat-label>
          <input formControlName="birthday" matInput [matDatepicker]="picker">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="form.get('birthday')!.invalid && form.get('birthday')!.touched">
            Please enter a valid date
          </mat-error>
        </mat-form-field>
      </div>
    </form>
  </div>
  <div mat-dialog-actions>
    <button mat-button [disabled]="form.invalid || loading" (click)="onNoClick()">Cancel</button>
    <button mat-button [disabled]="form.invalid || loading" (click)="saveUser()">Ok</button>
  </div>
  <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
</div>
