.tel-mail-frame {
    display: flex;
}

.dialog-frame {
    display: flex;
    flex-direction: column;
}

.name-frame,
.address-frame,
.tel-mail-frame,
.city-frame,
.personal-frame {
    display: flex;
    gap: 8px;
  margin-bottom: 8px;
    @media (max-width: 560px) {
        flex-direction: column;
    }
}


.mat-form-field-invalid .mat-form-field-outline {
    color: red !important;
}

.mat-form-field-invalid .mat-form-field-ripple {
    background-color: red !important;
}

.mat-form-field-invalid .mat-input-element {
    border-color: red !important;
}