<main>
  <mat-card class="head-card shadow" appearance="outlined">
    <button mat-fab class="more-btn" [matMenuTriggerFor]="menuHead">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menuHead="matMenu">
      <button mat-menu-item (click)="editDialogHead()">
        <mat-icon>edit</mat-icon>
        <span>Edit</span>
      </button>
      <button mat-menu-item>
        <mat-icon>delete</mat-icon>
        <span>Delete User</span>
      </button>
    </mat-menu>

    <div class="img-name-frame">
      <img src="./assets/icons/face_24d.png" alt="">
      <div class="name-details">
        <!-- Zeige den Vornamen und Nachnamen an, wenn 'user' definiert ist -->
        <h2>{{ user?.firstName }} {{ user?.lastName }}</h2>
        <div class="email">{{ user?.email }}</div>
      </div>
    </div>   
  </mat-card>
  <mat-card class="adress-card shadow">
    <button mat-fab class="more-btn" [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="editDialogAddress()">
        <mat-icon>edit</mat-icon>
        <span>Edit</span>
      </button>
    </mat-menu>

    <h6>Address</h6>
    <address>
      Street: {{user?.street}} {{user?.houseNumber}} <br>
      City: {{user?.city}} <br>
      Postal Code: {{user?.zip}} <br>
    </address>
    <h6>Birthday</h6>
    <div>
      {{ user?.birthday | date: 'shortDate' }}
    </div>
  </mat-card>
</main>
