<main>
  <mat-drawer-container class="mat-drawer-container">
    <mat-drawer class="drawer-content" #drawer mode="side">
      <div class="logo-frame">
        <img src="assets/images/logo1.png" alt=""><span><b>Simple CRM</b></span>
      </div>
      <ul class="drawer-list">
        <li routerLink="/dashboard" routerLinkActive="active">
          <img src="assets/icons/dashboard.png" alt="">Dashboard
        </li>
        <li routerLink="/user" routerLinkActive="active">
          <img src="assets/icons/user.png" alt="">User
        </li>
        <li routerLink="/info" routerLinkActive="active" >
          <img src="assets/icons/info.png" alt="">Info
        </li>
      </ul>
    </mat-drawer>
    <mat-drawer-content class="main-content">
      <mat-toolbar class="mat-toolbar">
        <button mat-icon-button class="mat-icon-button" (click)="toggleDrawer()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Simple CRM</span>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>

</main>