main {
    position: relative;
}

.toolbar {
    position: absolute;
    top: 0;
    height: 80px;
    width: auto;
}

.mat-drawer-container {
    position: absolute;
    top: 0;
    height: 100vh;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: yellowgreen;
    z-index: 3;
}

.mat-toolbar {
    height: 60px;
    position: relative;
    color: white;
    background-color: rgb(88, 119, 147);
    z-index: 2 !important;
}

.mat-icon-button {
    position: absolute;
    right: 32px;
    z-index: 2 !important;
    color: white
}

.drawer-content {
    //padding: 16px;
    border-radius: 0;
}

.logo-frame {
    height: 60px;
    border-bottom: 2px solid rgba(30, 30, 30, 0.2);
    padding: 0 16px;
    display: flex;
    align-items: center;

    img {
        width: 64px;
    }
}

.drawer-list {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
        height: 60px;
        padding: 0 12px;
        display: flex;
        align-items: center;
        margin-bottom: 12px;
        cursor: pointer;

        &:hover {
            background-color: rgba(30, 30, 30, 0.1);
        }
    }

    img {
        height: 32px;
        margin-right: 12px;
    }
}

