main {
    position: relative;
}

.toolbar {
    height: 80px;
}

.mat-drawer-container {
    position: absolute;
    top: 80px;
    height: calc(100vh - 80px);
    bottom: 0;
    left: 0;
    right: 0;
    background-color: yellowgreen;
}

.mat-toolbar {
    height: 80px;
    position: absolute;
    background-color: aliceblue;
    z-index: 2 !important;
}

.mat-icon-button {
    position: absolute;
    right: 32px;
    z-index: 2 !important;
}

.drawer-content {
    
}