.main-frame {
  margin: 12px;
}

mat-card-content {
  display: flex;
  justify-content: center;
}

table {
  width: 80vw;
  padding: 0 2vw;
}

tr {
  display: flex;
  justify-content: space-between;

  
}

th, td {
  width:-webkit-fill-available;
  text-align: start;
}

.add-btn {
    border-radius: 100% !important;
    height: 60px;
    width: 60px;
    position: fixed;
    bottom: 16px;
    right: 16px;
    background-color: rgb(88, 119, 147);
    color: white;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4) !important;
    border: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  
    // remove standard material shadow ...actually
    &::before,
    &::after,
    .mat-button-wrapper::before,
    .mat-button-wrapper::after {
      box-shadow: none !important;
    }
  
    &:hover {
      cursor: pointer;
      transform: scale(0.95); 
      border-radius: 100% !important;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4) !important; // Behalten Sie den eigenen Schatten bei
    }
  }
  .table-head{
    margin-bottom: 40px;
  }

.userbox{
  height: 32px;
  border-bottom: 2px solid rgba(88, 119, 147, 0.3);

  margin: 4px 0 0 4px;
}
.userbox:hover {
  cursor: pointer;
  background-color: rgba(88, 119, 147, 0.1);
}