<div class="main-frame">
    <mat-card appearance="outlined">
        <mat-card-content>
            <table>
                <tr>
                    <th>Name</th>
                    <th>E-Mail</th>
                    <th>City</th>
                </tr>
                <tr>
                    <td>Egon</td>
                    <td>e&#64;a.de</td>
                    <td>Berlin</td>
                </tr>
            </table>
        </mat-card-content>
    </mat-card>
    
    <button mat-fab class="add-btn" (click)="openDialog()">
        <mat-icon>add</mat-icon>
    </button>
</div>