<div class="main-frame">
    <mat-card appearance="outlined">
        <mat-card-content>
            <table>
                <tr class="table-head">
                    <th>Pre Name</th>
                    <th>Name</th>
                    <th>E-Mail</th>
                    <th>City</th>
                </tr>
                <tr class="userbox" *ngFor="let user of users" (click)="openUser(user.customIdName)">
                    <td>{{user.firstName}}</td>
                    <td>{{user.lastName}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.city}}</td>
                </tr>
            </table>
        </mat-card-content>
    </mat-card>

    <button mat-fab class="add-btn" (click)="openDialog()">
        <mat-icon>add</mat-icon>
    </button>
</div>